name: deploy

on:
    push:
        branches:
            - main

permissions:
    id-token: write
    contents: write
    packages: read

jobs:
    deploy:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                environment: ['dev', 'staging', 'prod']

        environment: ${{ matrix.environment }}

        steps:

            - name: Checkout
              uses: actions/checkout@v4

            - name: deploy
              run: echo "Deploying to $DEPLOY_ENVIRONMENT"
              env:
                  DEPLOY_ENVIRONMENT: ${{ matrix.environment }}
